@use "./base.scss";

// put your custom CSS here!

//https://quartz.jzhao.xyz/layout
// custom callouts: https://quartz.jzhao.xyz/features/callouts
// https://lucide.dev/icons/speaker

//  --callout-icon-patcher: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"></path><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"></path></svg>');

/*  --callout-icon-patcher: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="16" height="20" x="4" y="2" rx="2"></rect><path d="M12 6h.01"></path><circle cx="12" cy="14" r="4"></circle><path d="M12 14h.01"></path></svg>');*/

.callout {
  &[data-callout="patcher"] {
//	--color: rgb(51, 51, 51);
//    --border: rgb(20, 20, 20);
//    --bg: rgb(229, 229, 229);
    --callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="16" height="20" x="4" y="2" rx="2"></rect><path d="M12 6h.01"></path><circle cx="12" cy="14" r="4"></circle><path d="M12 14h.01"></path></svg>'); //SVG icon code
  }
}





  
.callout[data-callout="patcher"] {
    --callout-color: 250, 220, 0;
    --color: red;
//    --callout-icon: lucide-speaker;
//    --callout-icon: lucide-radio-receiver;
//    --callout-icon: var(--callout-icon-patcher);
//     background-color: yellow;
    --bg: rgb(239, 239, 239);
    --border: rgb(20, 20, 20);
    //--bg: #db424210;
	--color: rgb(51, 51, 51);
	
//	background-image: radial-gradient(rgb(203, 203, 203) 0px, rgb(203, 203, 203) 1px, rgba(229, 229, 229, 0.25) 1px, rgba(229, 229, 229, 0.25) 20px);
//	background-size: 20px 20px;
}



[saved-theme="dark"] .callout[data-callout="patcher"] {
    --color: rgb(229, 229, 229);
    --border: rgb(20, 20, 20);
    //--bg: #db424210;
	--bg: rgb(51, 51, 51);


//	background-image: radial-gradient(rgb(20, 20, 20) 0px, rgb(20, 20, 20) 1px, rgba(29, 29, 29, 0.95) 1px, rgba(29, 29, 29, 0.95) 20px);
//	background-size: 20px 20px;

}


.callout[data-callout="patcher"] code {
//	background-color: yellow;
//	background-image: radial-gradient(rgb(203, 203, 203) 0px, rgb(203, 203, 203) 1px, rgb(229, 229, 229) 1px, rgb(229, 229, 229) 20px);
//	background-size: 20px 20px;

}

/*

code[data-theme*=" "] {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
}

[saved-theme="dark"] code[data-theme*=" "] {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

[saved-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

*/



/*
  &[data-callout="tip"] {
    --color: #00bfa5;
    --border: #00bfa544;
    --bg: #00bfa510;
    --callout-icon: var(--callout-icon-tip);
  }
*/